body
{
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  background-color: hsl(216, 12%, 8%);
  color:hsl(217, 12%, 63%);
  line-height: 1.6
}
input[type=submit]{
  border-radius: 20px;
  width: 100%;
  background-color: hsl(25, 97%, 53%);
  color:white;
  padding: 5px;
  margin-top: 5%;
}
input[type=submit]:hover
{
  cursor: pointer;
  background-color:white;
  color: hsl(25, 97%, 53%);
}

h2,h3{
  margin-top: 20px;
  color: white;
}

p{
  font-size: 15px;
}

.svg1,.No{
  background-color:  hsl(213, 19%, 18%);
  display: inline-block;
  margin: 3%;
  padding: 10px;
  border-radius: 100%;
  text-align: center;
}

.No:hover,.pushed{
  cursor: pointer;
  background-color:hsl(25, 97%, 53%);
  color:white ;
}


.rating,.ThankYou{
    width: 25%;
    margin: 15% auto;
    padding: 2% 2%;
    background-color:hsl(0, 0%, 12%) ;
    border-radius: 7%;
}


 /* THANK-YOU */

 .ThankYou
 {
   text-align: center;
 }

.thank-p{
  margin: 10% auto;
  width: 50%;
  color:  hsl(25, 97%, 53%);
  background-color:  hsl(213, 19%, 18%);
  border-radius: 20px;
}



/* small Screen size */

@media screen and (max-width: 400px) {
  .rating,.ThankYou{
    margin: 25% 10%;
    width:80%;
    padding: 5%;
  }
  p{
    font-size: 13px;
  }
  .svg1,.No
  {
    padding: 5px;
    margin: 4%;
  }
}

.svg1{
  margin-left: 0;
}

.visibilty
{
  visibility: hidden;
  position: absolute;
}
